<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Overview of all members</title>
</head>
<body>

<h1>Overview of all members</h1>

<table>
    <tr>
        <th>Member</th>
        <th>Ranking</th>
        <th>Total</th>
    </tr>
    <tr th:each="member : ${allMembers}">
        <td th:text ="${member.nameMember}"></td>
        <td th:text ="${member.ranking}"></td>
        <td th:text ="${member.totalNumberOfTennisRackets}"></td>
        <td><a th:href="@{/tennisracket/new/{memberId}(memberId = ${member.memberId})}">Possess tennisracket(-s)</a></td>
    </tr>

</table>

<p>
    <a th:href="@{/member/new}">Add a new member</a>
</p>

</body>
</html>