<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Overview of all members</title>
</head>
<body>

<h1>Overview of all members</h1>

<table>
    <tr>
        <th>Member</th>
        <th>Available Racket</th>
        <th>Ranking</th>
        <th>Team</th>
        <th>Total of Rackets</th>
        <th>Buy TennisRacket</th>
    </tr>
    <tr th:each="member : ${allMembers}">
        <td><a th:href="@{/member/detail/{memberNameMember}(memberNameMember = ${member.nameMember})}"
               th:text ="${member.nameMember}"></a></td>
        <td th:text ="${member.numberOfAvailableRackets}"></td>
        <td th:text ="${member.ranking}"></td>
        <td th:text ="${member.teams}"></td>
        <td th:text ="${member.totalNumberOfTennisRackets}"></td>
        <td><a th:href="@{/tennisracket/new/{nameMember}(nameMember = ${member.nameMember})}">Buy TennisRacket</a></td>
        <td><a th:href="@{/member/edit/{nameMember}(nameMember = ${member.nameMember})}">Edit Member</a></td>
    </tr>

</table>

<p>
    <a th:href="@{/member/new}">Add a new member</a>
</p>

</body>
</html>